.App {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.box {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

body {
  background-color: transparent;
}
